body{
    font-family: 'Dosis', sans-serif; height:100%;
    background-color: #00004c; margin:0px;
    }
    h1	{color: white;	margin: 1px;	font-size: 25px;}
    p	{ padding: 24px;	font-size: 18px;	font-family: 'Open Sans',

    html {height: 100%;


header	{background-color: #4a0000;
         font-family: 'Quicksand';
        width: 100%;
        font-size: 20px; text-align:center; color: white;
        }

.leftcol {background-color: #00004c; height: 80%;
            float: left; width: 20%;
         }
.varatjanster {background-image: url("cleaning-1837333_1280.jpg");
    background-size: cover;
}
.ettklassnamn {color: white;

}

.klassnamn {color: white;}

.klassen {color: white;}

.bokacontainer {text-align: center; height: 75%;}

.bokabild {height: 300px; margin-top: 15px;}
 
.content {background-color: #D2CDC7; height: 60vh;
    float: left; width: 59%; font-family: 'Quicksand', sans-serif;
    margin: 0vh; text-align: center;
    }


footer {background-color: #4a0000; width: 100%;
    
        clear: both; color:white; text-align: center;
        }
        ul {list-style-type:none; background-color:#4a0000; margin: 0vh; padding: 0vh; text-align: center;}

li a 	{ text-decoration: none; text-align: center;}
li	{background-color: #4a0000; display: inline-block; padding: 1%; }

li a:hover {background-color: black;}

li a:visited {color: white;}
li a:link {color: white;}
ul{list-style-type: none;}



    input[type=text], select, textarea {
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 10px;
        margin-bottom: 16px;
        resize: vertical;
    }
    
    input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border:none;
        border-radius: 4px;
        cursor: pointer;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.wrapper {
    min-height: 100%;
  
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
  }

.homecontainer {text-align: center; height: 75%;}

.infocontainer {height: 75%; text-align: center;}

.mail {color: black;}

.infobild {width: 40%;}

.font1 {font-family:'Lobster' !important;}

form {color: white;}

#map { width: 750px; height: 400px;


