body	{background-color: #00004c;}
h1	{color:white;	margin-left: 20px;	font-size: 40px;}
p	{margin-left 40px;	font-size: 20px;	font-family: Georgia;}


.header	{background-color: #4a0000; height: 20vh; width: 100%; font-family: 'Playfair Display', serif; font-size: 20px; text-align:center; color: white;}

.leftcol {background-color: #00004c; height: 80vh; float: left; width: 20%;}

.content {background-color: #f4edc2; height: 70vh; float: left; width: 60%; font-family: 'Ruslan Display',cursive;}

.rightcol {background-color: darkslateblue; height: 80vh; float: right; width 30%; color: white;}

.footer {background-color: #4a0000; height: 15vh; width: 100%; clear: both; color:white; text-align: center;}

ul {list-style-type:none; background-color:#4a0000; margin: 0px; padding: 0px; text-align: center;}

li a 	{ text-decoration: none; text-align: center;}
li	{background-color: #4a0000; display: inline-block; padding: 1%;}

li a:hover {background-color: black;}

li a:visited {color: white;}
li a:link {color: white;}
ul{list-style-type: none;

.map {max-height: 50px;}